<!DOCTYPE html>
<html>
<head>
  <title>SigningsHistory</title>
  <%= stylesheet_link_tag    "signings_history/application", media: "all" %>
  <%= javascript_include_tag "signings_history/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
